body{
    background-color: rgb(252, 252, 252);
    text-align: center;
    font-family: 'Rajdhani', sans-serif!important;
    transition: 0.5s;
}
body.night
{
    background-color:rgb(0, 0, 0);
}
    
.toggle
{
    position: absolute;
    top: 40px;
    right: 50px;
    background: transparent;
    border: 2px solid #86949b;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}
.toggle.active
{
    background: #00151f;
    border: 2px solid #fff;
    color: white;
}
.toggle:before
{
    content: '';
    position: absolute;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #00151f;
    border-radius: 50%;
    transition: 0.5s;
}
.toggle.active:before
{
    left: 27px;
    background: #fff;
}
.content
{
    margin: 10%;
}
.content h1
{
    margin: 0 0 20px;
    padding: 0;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-weight: 800;
}
.content p
{
    margin: 0;
    padding: 0;
    color: #000;
    transition: 0.5s;
    font-size: 1.3em;
    font-weight: bold;
}
.panel-heading{
    background: rgb(180, 94, 94)!important;
    color: rgb(18, 19, 20)!important;
    font-weight: 700;
    
}
body.night .content h1{
    color: rgb(255, 255, 255);
}
body.night .content p 
{
    color:black;
}
body.night .content h3
{
    background: rgb(73, 73, 73)!important;
    color:white!important;
}
body.night .content  
{
    color:white;
}
.panel-heading.night {
    background: rgb(73, 73, 73)!important;
    border: none!important;
    color:white!important;
}

.panel-group{
    margin-top: 10%;
}

.panel-body {
    background:		rgb(255, 251, 242);
}
.panel-body.night {
    background: rgb(128, 127, 127)!important;
    border: none!important;
   
}


