{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Astrid Chaerida</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="stylesheet" href="{% static 'acit2.css' %}">
 
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
  <script>
      $(document).ready(function(){
        $('.toggle').click(function(){
            $('.toggle').toggleClass('active')
            $('body').toggleClass('night')
            $('.panel-heading').toggleClass('night')
            $('.panel-body').toggleClass('night')
        })
    })
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true,
      heightStyle: "content"
    });
    $( ".h3" ).accordion({
  event: "mouseover"
});
var event = $( ".h3" ).accordion( "option", "event" );
 
// Setter
$( ".h3" ).accordion( "option", "event", "mouseover" );
  } );
  </script>
</head>
<body>


<div class="content">
        <div class="toggle">
                <h4 style="margin-top: 50%;">
                  Dark Mode
                </h4>
              </div>
              <h1 class="text-center"> Halo! </h1>
              <h1>Yuk, lebih tau tentang Astrid!</h1>

        <div id="accordion">
                <h3 class="panel-heading">Aktivitas</h3>
                <div class="panel-body">
                      <p>Makan</p>
                      <p>Makan</p>
                      <p>Makan</p>
                      <p>Kuliah</p>
                      <p>Tutor</p>
                </div>
                <h3 class="panel-heading" >Pengalaman Organisasi</h3>
                <div class="panel-body">
                      <p>Sekretaris OH Fasilkom UI 2019</p>
                      <p>Staf Sekretaris COMPFEST 11</p>
                      <p>Staf Job Fair Educare 2018</p>
                </div>
                <h3 class="panel-heading">Prestasi</h3>
                <div class="panel-body">
                  
                          <p>Soul X Trance oleh Gema Nusantara Budaya (Juara 2 Ratoeh Jaroe)</p>
                          <p>SESCO oleh Jakarta Islamic School (Juara 2 Ratoeh Jaroe)</p>
                          <p>Gala Breeze oleh Universitas Indonesia (Juara Harapan 2 Ratoeh Jaroe)</p>
                          <p>Tari Saman SON Competition (Juara 3 Ratoeh Jaroe)</p>
                  
                </div>
              </div>

</div>

 
 
</body>
</html>